.conteiner
  max-width: 950px
  margin: 0 auto

.logo--box
    width: 100%
    background-color: $logo--box--bgc
.menu--box
  width: 100%
  background-color: $navbar--bgc
.slieder--box
  width: 100%
  background-color: $slider--bgc
.slieder--box
  background: $slider--bgc url("../img/slider--bgimg.png")  no-repeat 30% top
.controls
  background-color: #2e2e2e
  padding-top: .5%
.specials
  background-color: #242424
  padding: 2% 0
.goods--box
  background-color: #ebe7df
.pre--footer
  background-color: #242424
.footer
  background-color: #2e2e2e
  color: #8a8a8a